:root {
  --background-color-sect: #2f303a;
  --background-color-sect-button: #f5f4fa;
  --background-color-button: #2196f3;
  --text-color-logo: #000000;
  --text-color-logo-foot: #ffffff;
  --color-text-logo: #2196f3;
  --color-text-title-button: #ffffff;
  --color-text-h2h3: #212121;
  --color-text-p: #757575;
  --color-text-link: #212121;
  --color-text-contact: #757575;
  --hover-focus-link-button: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

ul { list-style: none; }

/* Logo-шрифт/колір */

.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--color-text-logo);
}

.logo-styles {
  color: var(--text-color-logo);
}

/* Шапка index portfolio */

.nav-link .font {
  color: var(--color-text-link);
}

.nav-link .font:hover,
.nav-link .font:focus {
  color: var(--hover-focus-link-button);
}

/* Контакти index portfolio */

.contact .info {
  color: var(--color-text-contact);
}

.contact .info:hover,
.contact .info:focus {
  color: var(--hover-focus-link-button);
}

/* Main */




/* Банер index */

.baner-style {
  background: var(--background-color-sect);
}

.baner-text {
  color: var(--color-text-title-button);
}

.baner-button {
  background-color: var(--background-color-button);
  color: var(--color-text-title-button);
  cursor: pointer;
}


/* Деталі index */

/* Заняття index */

/* Команда index */

/* Портфоліо */

/* Макет portfolio*/

/* Підвал index portfolio */

.drop-info {
  background: var(--background-color-sect);
}

.foot-logo {
  color: var(--text-color-logo-foot);
}

.street {
  color: var(--text-color-logo-foot);
}
